<div class="grid-nogutter w-10 m-auto mb-5">
    <div class="grid grid-gutter flex-row-reverse ">

        <div class="flex-order-0 md:flex-order-1 flex justify-content-center align-items-center">
            <div class="bg-black-alpha-90 w-11 h-13rem absolute z-1 opacity-40 ">
            </div>
            <img src="../../assets/web-analize.png" class="w-full  z-0">

            <div class="detail z-2 absolute ">
                <div class="flex align-items-center justify-content-center">
                    <div class="flex-1 w-8rem h-4rem  font-bold text-center p-3  mx-7 flex flex-column align-items-center justify-content-center">
                        <span class=" text-7xl text-300 font-normal">1200</span>
                        <span class="cursor-pointer text-lg w-9rem text-yellow-500">+ Total Work done</span>
                    </div>
                    <div class="flex-1 w-8rem h-4rem bg-primary font-bold text-center p-3  mx-7 flex flex-column align-items-center justify-content-center">2</div>
                    <div class="flex-1 w-8rem h-4rem bg-primary font-bold text-center p-3  mx-7 flex flex-column align-items-center justify-content-center">3</div>
                    <div class="flex-1 w-8rem h-4rem bg-primary font-bold text-center p-3  mx-7 flex flex-column align-items-center justify-content-center">4</div>
                </div>
            </div>
        </div>
       
    </div>
</div>