<div class="grid-nogutter w-10 m-auto ">
    <div class="grid grid-gutter flex-row-reverse ">


        <div
            class="flex-order-1 md:flex-order-0 col-12 md:col-12 flex flex-column md:mb-5 justify-content-center md:p-7 bg-cyan-900">
            <div class="flex flex-column">
                <div class="text-4xl font-normal text-300 line-height-1 mb-1 flex justify-content-center">
                    <span class="text-4xl font-normal text-yellow-500">O</span>ur Features
                </div>
                <div class="text-4xl font-bold text-300 line-height-3 m-1 flex justify-content-center">
                    Let Us Adorn Your Skin
                </div>
                <div class="flex justify-content-center">
                    <div class="text-lg font-light text-300 line-height-2  md:col-8  text-center">
                        We use only the highest quality equipment and materials
                    </div>
                </div>

                <div class="flex justify-content-center mt-3">    
                        <div class="flex-1 font-bold text-center p-4">
                            <img src="../../assets/what-we-do-pic1.svg" width="100%">
                            <div class="flex flex-column text-center">
                                <div class="text-300 text-center font-semibold text-2xl mt-2">Piercining</div>
                                <div class="text-300 text-center font-light line-height-3 text-base mt-2">Want some extra holes in your body? Our piercing masters will make some for you.</div>
                                <div class="text-xl font-normal text-yellow-500 mt-3 cursor-pointer">Read more</div>
                            </div>
                        </div>
                        <div class="flex-1 font-bold text-center p-4 mx-4">2</div>
                        <div class="flex-1 font-bold text-center p-4">3</div>ّ
                </div>

            </div>
        </div>
    </div>
</div>