<div class="grid-nogutter w-10 m-auto mb-5 mt-5">
    <div class="grid grid-gutter ">
        <div
            class="flex-order-1 md:flex-order-0 col-12 md:col-6 flex flex-column  justify-content-center md:p-4 primary-color">
            <div class="flex flex-column">
                <div class="text-4xl font-normal text-300 line-height-1 mb-1">
                    <span class="text-4xl font-normal text-yellow-500">W</span>hy Choose Us
                </div>
                <div class="text-4xl font-bold text-300 line-height-2 m-1">
                    We don’t do ordinary
                </div>
                <div class="text-lg font-light text-300 line-height-3 mt-2 mb-5 ">
                    We use only the highest quality equipment and materials, and adhere to the strictest safety and
                    hygiene standards to ensure your safety and satisfaction.
                </div>
                <div class=" col-12 flex flex-wrap align-items-center justify-content-center">
                    <div
                        class="col-12 md:col-6 flex flex-column ">
                        <div class="flex">
                            <div class="md:col-3 p-0 mb-2">
                                <img src="../../assets/icon-Price.svg" class="w-12">
                            </div>
                            <div
                                class="md:col-10 flex align-items-end  text-300 text-lg justify-content-center font-semibold">
                                Trending Tattooing</div>
                        </div>
                        <div
                            class="flex justify-content-center align-items-center text-300 text-base font-light line-height-2 mt-2">
                            There are many variations of passages available but the page majority have suffered.
                        </div>
                    </div>
                    <div
                        class="col-12 md:col-6 flex flex-column bg-cyan-900">
                        2 </div>
                </div>
                <div class="col-12 flex flex-wrap align-items-center justify-content-center">
                    <div
                        class="col-12 md:col-6 flex flex-column  bg-primary-color bg-cyan-900">
                        3 </div>
                    <div
                        class="col-12 md:col-6 flex flex-column  bg-primary-color bg-cyan-900">
                        4</div>
                </div>
            </div>
        </div>

        <div class="flex-order-0 md:flex-order-1 col-6 flex justify-content-center">
            <div class="w-full">
                <img src="../../assets/why-choose-us-img.png" class="w-full p-3">
            </div>
        </div>
    </div>
</div>