<div class="grid-nogutter w-10 m-auto ">
    <div class="grid grid-gutter flex-row-reverse ">


        <div
            class="flex-order-1 md:flex-order-0 col-12 md:col-12 flex flex-column md:mb-5 justify-content-center md:p-7">
            <div class="flex flex-column">
                <div class="text-4xl font-normal text-300 line-height-1 mb-1 flex justify-content-center">
                    <span class="text-4xl font-normal text-yellow-500">O</span>ur Tattoos
                </div>
                <div class="text-4xl font-bold text-300 line-height-3 m-1 flex justify-content-center">
                    Get The Best Tattoo Here
                </div>
                <div class="flex justify-content-center">
                    <div class="text-lg font-light text-300 line-height-2  md:col-8  text-center">
                        We work with our own sketches as well we can perform a work using yours
                    </div>
                </div>

                <div class="flex flex-wrap mt-3 col-12">
                    <div class="col-12 md:col-3  flex flex-column p-0">
                        <div class="first-img ">
                            <img src="../../assets/our-tattoos-first.svg" alt="" class="w-12">
                        </div>
                        <div class="second-img p-1">
                            <img src="../../assets/our-tattoos-second-img.svg" alt="" class="w-12">
                        </div>
                       
                    </div>
                    <div class="col-12 md:col-3 bg-cyan-900 flex flex-column p-0">2</div>
                    <div class="col-12 md:col-3 bg-cyan-900 flex flex-column p-0">3</div>
                    <div class="col-12 md:col-3 bg-cyan-900 flex flex-column p-0">4</div>
                </div>
                <div class="flex align-items-center justify-content-center">
                    <span class="cursor-pointer bg-cover md:bg-contain bg-center bg-no-repeat bg-yellow-500 h-2rem flex justify-content-center align-items-center max-w-8rem min-w-8rem p-2 mt-5">
                        View more
                    </span>
                </div>
               

            </div>
        </div>
    </div>
</div>