<div class="grid-nogutter w-10 m-auto mb-5">
    <div class="grid grid-gutter flex-row-reverse ">

        <div class="flex-order-0 md:flex-order-1 col-6 flex justify-content-center">
            <div class="w-full">
                <img src="../../assets/AboutUsImg.png" class="w-full" >
            </div>
        </div>
        <div
            class="flex-order-1 md:flex-order-0 col-12 md:col-6 flex flex-column  justify-content-center md:p-7 primary-color">
            <div class="flex flex-column">
                <div class="text-4xl font-normal text-300 line-height-1 mb-1">
                    <span class="text-4xl font-normal text-yellow-500">O</span>ur Studio
                </div>
                <div class="text-4xl font-bold text-300 line-height-2 m-1">
                    We help you to adorn your body
                </div>
                <div class="text-lg font-light text-300 line-height-3 mt-2 mb-5 ">
                    Welcome to Limitless Ink Studio, a premier tattoo studio located in the heart of Birmingham's
                    Jewellery Quarter. Our skilled artists have years of experience and a passion for creating
                    one-of-a-kind designs that reflect your unique style and personality.
                </div>
                <span class="cursor-pointer bg-cover md:bg-contain bg-center bg-no-repeat bg-yellow-500 h-2rem flex justify-content-center align-items-center max-w-8rem min-w-8rem">
                    More about us
                </span>
            </div>
        </div>
    </div>
</div>