<div class="grid-nogutter w-10 m-auto mb-5">
    <div class="grid grid-gutter flex-row-reverse ">

        <div class="flex-order-0 md:flex-order-1 flex justify-content-center align-items-center">
            <div class="bg-black-alpha-90 w-11 h-20rem absolute z-1 opacity-50 ">
            </div>
            <img src="../../assets/banner-img.svg" class="w-full  z-0">

            <div class="detail z-2 absolute flex flex-column justify-content-center align-items-center ">
                <div class="text-300 font-normal text-5xl">We Have Gathered</div>
                <div class="text-300 font-normal text-5xl mt-3 w-9 text-center">The Most Creative Tattooists From All
                    Over The World</div>
                <div class="flex align-items-center justify-content-center">
                    <span
                        class="cursor-pointer bg-cover md:bg-contain bg-center bg-no-repeat bg-yellow-500 h-2rem flex justify-content-center align-items-center max-w-11rem min-w-8rem p-2 mt-5">
                        Make an appointment
                    </span>
                </div>
            </div>

        </div>

    </div>
</div>